h1 {
	font-size: 48px;
	text-align: center;
	color: white;
	line-height: 165px;
}

#heading {
	background-color: darkblue;
	height: 200px;

}

h6 {
	font-size: 22px;
}

.sectionGroup {
	border: 1px solid darkblue;
	padding: 10px;
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.btn-block {
	text-align: left;
}

.formHeader {
	background-color: darkblue;
	color: white;
}

